[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
fastapi-login = "*"
pytest = "*"
pyjwt = {extras = ["crypto"], version = "*"}
requests = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
